.book{
    border: 2px solid #e05d53;
    border-raduis: 5px;
    margin: 20px;
    text-align: left;
    padding:px;
    color: #29363e;
}

.title {
    font-size: 30px;
}

.author {
    font-size: 24px;
}

.price, .quantity, .isbn, .edit, .buy {
    display: inline-block;
    margin-right: 40px;
    font-size: 19px;

}

