<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>IT Camp Book Store</title>
  <link rel="stylesheet" href="/common.css">
  <link rel="stylesheet" href="/cart.css">

</head>
<body>
<div th:replace="~{fragments.html :: logo}"></div>
<div th:replace="~{fragments.html :: menu}"></div>
<div id="content">

<th:block th:if="${cart.size() > 0}">
<div class="row">
  <div class="title">Tytuł</div>
  <div class="author">Autor</div>
  <div class="one-piece-price">Cena za sztukę</div>
  <div class="quantity">Ilość</div>
  <div class="sum-price">Suma</div>
  <div class="bin"></div>
</div>

  <div class="row" th:each="orderPosition : ${cart}">
    <div th:text="${orderPosition.book.title}" class="title"></div>
    <div th:text="${orderPosition.book.author}" class="author"></div>
    <div th:text="${#numbers.formatDecimal(orderPosition.book.price,1,2)} + ' zł'" class="one-piece-price"></div>
    <div th:text="${orderPosition.quantity}" class="quantity"></div>
    <div th:text="${#numbers.formatDecimal(orderPosition.quantity * orderPosition.book.price, 1,2)} + ' zł'" class="sum-price"></div>
    <a th:href="@{/cart/remove/{id}(id=${orderPosition.book.id})}" class="bin" ><img src="bin2.png"></a>
  </div>

  <div class="row" >
    <div class="title"></div>
    <div class="author"></div>
    <div class="one-piece-price"></div>
    <div class="quantity">Suma</div>
    <div th:text="${#numbers.formatDecimal(sum ,1,2)} + ' zł'" class="sum-price"></div>
    <div class="bin"></div>
  </div>
  </th:block>

  <th:block th:if="${cart.size() == 0}">
    <div >
      Twój koszyk jest pusty.
    </div>
  </th:block>

</div>
</body>
</html>